[flake8]
select = B,B9,C,DAR,E,F,N,RST,S,W
ignore = E203,E501,W503,C901,B950
max-line-length = 80
max-complexity = 10
docstring-convention = google
per-file-ignores = tests/*:S101
; darglint
strictness = short
